<!DOCTYPE html>
<html>
  <head>
    <title>recetera</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">recetera!</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="<%= 'active' if current_page?('/') %>"><a href="/">home</a></li>
          <li class="<%= 'active' if current_page?('/about') %>"><a href="/about">about</a></li>
          <li class="<%= 'active' if current_page?('/blog') %>"><a href="/blog">blog</a></li>
        </ul>
      </div>
    </div>
  <%= yield %>
  
  </body>
</html>
